node_modules
.next
out
# semua .env kecuali template
.env*
!.env.example
*.db
*.db-journal
dist
.vercel
npm-debug.log*
.DS_Store

# Portable PostgreSQL (lokal, jangan commit)
.localpg/


# Next.js generated
next-env.d.ts
